<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs');%>

    <body>

        <%- include('./partials/nav.ejs');%>

            <div class="container" style="padding: 25px;">
                <ul class="collection with-header">

                    <%if (items.length > 0) {
                        items.forEach(e => {%>
                        <li class="collection-item">
                            <div>
                                <% if (e.price> 1){ %>
                                    <%=e.name%> $
                                        <%=e.price%>
                                            <% } else { %>
                                                <%=e.name%>
                                                    // FREE
                                                    <%}%>
                                                        <a href="/items/<%=e.id%>" class="secondary-content">
                                                            <i class="material-icons">more_horiz
                                                            </i>
                                                        </a>
                            </div>
                        </li>
                        <% }); } else {%>
                            <li class="collection-item">
                                <div>No Items Found !!<a href="#" class="secondary-content"><i
                                            class="material-icons">send</i></a>
                                </div>
                            </li>
                            <%}%>
                </ul>
                <h6 style="padding: 20px; color: green;">
                    <%=Message%>
                </h6>
            </div>
    </body>

</html>